.footer {
  background-color: #eee;
  color: #fe3562;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
  border-radius: 4px;
}

.foot-text-1 {
  margin: 0;
  padding-top: 15px;
}

.foot-text-2 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 15px;
}
