h3,
p {
  font-family: "Lato", sans-serif;
}

h2 {
  margin: 0;
  margin-bottom: 3%;
}

.type {
  margin-top: 20%;
}

.code {
  color: #fe3562;
}

.title {
  margin: 1;
  padding: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 30%;
  margin-top: 3%;
}

.column2 {
  float: left;
  width: 70%;
}

.jumbotron {
  margin-bottom: 2em;
  padding-top: 0.5em;
  padding-bottom: 4.8em;
  height: auto;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #fe3562;
}
